[Desktop Entry]
Version=1.0
Type=Application
Name=Mechmate
Comment=
Exec=linuxcnc linuxcnc/configs/mechmate/mechmate.ini 
Icon=linuxcncicon
Path=
Terminal=false
StartupNotify=false
